body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*----cuerpo-----*/
.content{
  width: 80%;
  margin: auto;
  min-height: 550px;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
}
.content h1{
  font-family: 'Raleway', sans-serif;
  font-size:30px;
  font-weight: 800;
  letter-spacing: 4px;
  margin-bottom: 20px;
}
.content p{
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

a{
  color: #000;
  text-decoration: none;
}

.container-all{
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-box a{
  text-decoration: none;
  color: #000;
}

.box{
  width: 250px;
  height: 180px;
  padding: 20px;
  margin: 20px;
  background: #fff;
  border:1px solid #d1d1d1;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms;
}

.box:hover{        /*abajo, izquierda*/
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 20px -10px rgba(0,0,0,0.5);
}

 .box .icon, .box h4, .box p{
  position: relative;
  z-index: 1;
  transition: all 300ms;
}
.box .icon{
  font-size: 40px;
  color: #000;
  transform: translateY(30px);
}

.box:hover .icon{
  color: #fff;
  font-size: 30px;
  transform: translateY(0px);
}

.box h4, .box p{
  margin-top: 10px;
}

.box h4{
  font-size: 28px;
  font-weight: 600;
  transform: translateY(30px);
}
.box:hover h4{
  color: #fff;
  transform: translateY(0);
}

.box p{
  font-size: 14px;
  color: #fff;
  transform: translateY(100px);
  opacity: 0;
}
.box:hover p{
  opacity: 1;
  text-align: center;
  transform: translateY(0px);
}

.box .background-hover{
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 250px;
  left: -100px;
  border-radius: 100%;
  transition: all 300ms;
  background: linear-gradient(to bottom, rgba(255, 115, 0), rgba(255, 148,48));
}
.box:hover .background-hover{
  width: 400px;
  height: 400px;
  top:-70px;
  left: -70px;
}
/*personalizacion*/
.box1 .background-hover{
  background: linear-gradient(to bottom, rgba(255, 115, 0), rgba(255, 236, 34));
}
.box2 .background-hover{
  background: linear-gradient(to bottom, rgba(207, 0, 37), rgba(221, 0, 244));
  top: -170px;
  left: -250px;
}
.box3 .background-hover{
  background: linear-gradient(to bottom, rgba(141, 255, 101), rgba(2, 166, 109));
  top: -170px;
  left: 500px;
}
.box4 .background-hover{
  background: linear-gradient(to bottom, rgba(51, 255, 189), rgba(51, 255, 87));
  top: 170px;
  left: 500px;
}
.box5 .background-hover{
  background: linear-gradient(to bottom, rgba(3, 0, 57), rgba(31, 37, 255));
}
.box6 .background-hover{/*252, 0, 242*/
  background: linear-gradient(to bottom, rgba(21, 0, 57), rgba(252, 0, 242));
}