body{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*----cuerpo-----*/
.integrantes{
  width: 80%;
  margin:auto;
  margin-top: 110px;
  margin-bottom: 60px;
  transition: all ease 0.3s;
} 
.integrantes h3{
  font-family: 'Cookie', sans-serif;
  font-size:35px;
  font-weight: 600;
  color: #400A00;
}
.integrantes h4{
  font-family: 'Nunito Sans', sans-serif;
  font-size:20px;
  color: #400A00;
  padding-bottom: 20px;
}
.integrantes p, .asesores p{
  font-family: 'Nunito Sans', sans-serif;
  font-size:18px;
}
.person{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin: 30px 0px 50px 0px;
  background: rgba(247, 221, 149, 0.959);
}
.person img, .asesores img{
  width: 100%;
  border-radius: 50%;
  padding:10px;
}
.person .foto{
  width: 30%;
  margin:auto;
  min-width: 200px;
}
.person .description{
  width: 60%;
  min-width: 500px;
  align-items: center;
  margin: auto;
  padding-bottom: 15px;
  padding-top: 10px;
}
.only{
  font-family: 'Nunito Sans', sans-serif;
  font-size:25px;
  font-weight: 800;
  letter-spacing: 4px;
  text-align: center;
}
.asesores{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
}
.encargado{
  width: 32%;
  min-width: 220px;
  margin-bottom: 20px;
}
.encargado .foto{
  width:90%;
  margin:auto;
  min-width: 200px;
}
.asesores h3{
  font-family: 'Cookie', sans-serif;
  font-size:32px;
  text-align: center;
}
.asesores p{
  text-align: center;
  margin-bottom: 25px;
}
.asesores a{
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 30%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  background: #fff;
  border: 1px solid  rgba(201, 123, 78, 0.945);
  color:  rgba(201, 123, 78, 0.945);
  cursor: pointer;
}
.asesores a:hover{
  background: rgba(201, 123, 78, 0.945);
  color: #fff;
}
@media only screen and (max-width:900px){
  .integrantes h3, .integrantes h4, p{
    text-align: center;
  }
  .asesores{
    justify-content: space-around;
  }
}
@media only screen and (max-width:650px){
  .description{
    width: 80%;
    min-width: 200px;
  }
}
@media only screen and (max-width:470px){
  .integrantes h3{
    font-size:25px;
  }
  .integrantes h4{
    font-size:14px;
  }
  .integrantes p{
    font-size:14px;
  }
  .only{
    font-size:16px;
  }
}
